-----BEGIN CERTIFICATE-----
MIIFfTCCA2WgAwIBAgIMWwSBVhekNS4xi2xlMA0GCSqGSIb3DQEBCwUAMFkxFTAT
BgNVBAMTDHRhc2tkLjY0Yi5pdDEPMA0GA1UEChMGNjRiLml0MRAwDgYDVQQHEwdU
b3JvbnRvMRAwDgYDVQQIEwdPbnRhcmlvMQswCQYDVQQGEwJDQTAeFw0xODA1MjIy
MDQ1MTBaFw0xOTA1MjIyMDQ1MTBaMCgxFTATBgNVBAMTDHRhc2tkLjY0Yi5pdDEP
MA0GA1UEChMGNjRiLml0MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA
xkm5/w+hp1AoqXZXk5sn4rNK2eVAiLPtKDVrNK2HrARiVJGYY47PNnpYoLKkrm5S
ZMMwg9pRVE482L58bNlenCUlJkeHj9MRoG7FCEHhktHLqo7Tx+GYFgPBQiq+TtWn
m7WEQSTVheEw6yqRuw1LSwIwjJnO1FAm8YC1T1Qq89db++hhAisFdt9WR0Wi7toY
q9ORPfjUi/Kfa7UqZHo2knVQnaBaKN77lqY9vNRAMkliwT9DPGOXiTE6SGHrgok2
kAaBUSnlOLXvG83xRfcfqpUjty/ZDfpEPeB4HuCJALHc7wNwlEV/MUci97RHE5i/
A2Mw4yYseHptu2q1lcnSjIznITmxAqn/pxKWUgRqdsEZMll5cyO7ThSjWcXyB/sG
6aEcA2WTV56YWgbHaWpm3FCwfPl3xYBfyUbPmNzAMrcsrOFsmGHctXMhRcDHD+pI
GPUogRaQBcs6GkG+gaFvuQ5tSCxTZXiKoeiqrqi4KVmveGZAEq69OYUPJ4JMZiPr
DATI07V53IsMb4qCKNLwhhuiY8TBYWeeJ7ubqjbkUHAWDwTYmqVF/rZykLfXri98
YsNiwdo6utiVZaRnGmQipahBSAkSs+8Kk6R/PI1zRz45bRFpleV1TmnQ0QdUZ4Fj
JgfPUZMRy/DNI+Z3aE6xyJM6ACcIF0y4f6CTySMlgE0CAwEAAaN2MHQwDAYDVR0T
AQH/BAIwADATBgNVHSUEDDAKBggrBgEFBQcDAjAPBgNVHQ8BAf8EBQMDB6AAMB0G
A1UdDgQWBBR12gPnavtcfPTnZtfQLDyfmH6+6TAfBgNVHSMEGDAWgBTWKJONMTnI
LGDvJVXDwWpe0oNMyzANBgkqhkiG9w0BAQsFAAOCAgEABCRDJEkh1ULA+Js9EJLa
ELRII77NxfmLcSJjhdFKiw98AZE9WJEU0unGR2Cl0PoDXzxxn4f1LRqAjbVRV5XL
EJ3/m/rPDIKBFI7aKM1FpHq7pznFvAGDT7czD5xiODfvNWavHpNylPcfAbUCZA15
KQzpoKxzUek56NoqAVFZZYU7PeBMGwAPu/2ytGZXB9hgGm+bu7ZuoC9XDIGFK7rK
n4aJQQviLvBWxHk5b9vpQufEcmkZzFGS3jPZum2iG5W/Hc1UKXfYZMwaLRx0v5AF
j/pXp2VmI6v0SYTZPnZRivFYQpXBaQEtuFfjUZB7VuSjCWcTBCmHTVzBfmj3qzS4
RcIi+jmu+dQXsafg3cyELVzfY93uBc1ECsktgMVvv3iwvjWaaMTJkt8hCUu5gZxp
21MQCtmHXuNimYvKMro8TRDgSD/1jLWw7XvhSd9HEDoGSLBk4tpLhmoSD31RcI2f
ZCxfImqY7NL6KRIqSKHdQ/X16OVHCcCJrl2ZjhSNpwMhR1bbNhVWzVTb6kNDB8E6
LsOys//lMhx6qFRD0Mi5N/JF7KdvhN6ILNEQN+eUgeVNzj/hClgs1ws2IWX8QTST
B9FJz33LyxIZFXEHNbqAqvfYYdl5e//kStEVFm8KlHkpT2us5lwxGwKI0oHY6tKs
BxQmshgJCcWvmRNmFv+XTT8=
-----END CERTIFICATE-----
