# Organization to create in the task server
TASKD_ORGNAME=My Org
# Username to create in the task server
TASKD_USERNAME=user

# self-signed certificate settings
# the last part of the name matches the variables in vars that the generator
# scripts use (cf.
# https://github.com/GothenburgBitFactory/taskserver/blob/1.2.0/pki/vars)
TASKD_CERT_BITS=4096
TASKD_CERT_EXPIRATION_DAYS=365
TASKD_CERT_ORGANIZATION=64b.it
TASKD_CERT_COUNTRY=CA
TASKD_CERT_STATE=ON
TASKD_CERT_LOCALITY=Toronto
